body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

  .string {
  	color: #5cb85c;
  }

  .number {
  	color: #5bc0de;
  }

  .boolean {
  	color: blue;
  }

  .null {
  	color: magenta;
  }

  .key {
  	color: #f0ad4e;
  }